modules = ["nodejs-20"]

[nix]
packages = ["tree", "nano"]

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 44314674
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
